<launch>

   <!--   usb_cam node -->



<!-- ArUco mapping -->
  <node pkg="aruco_mapping" type="aruco_mapping" name="aruco_mapping" output="screen">
    <remap from="/image_raw" to="/usb_cam/image_raw"/>

    <param name="calibration_file" type="string" value="$(find aruco_mapping)/data/F100.ini"/>
    <param name="num_of_markers" type="int" value="20" />
    <param name="marker_size" type="double" value="0.135"/>
    <param name="space_type" type="string" value="plane" />
    <param name="roi_allowed" type="bool" value="false" />
  </node>
</launch>
